#header {
    background: #972a27 url(../img/header-bg.gif) repeat-x center;
}

#header img{
	float: left;
	padding-top: 1px;
	padding-left: 15px;
	height: 30px;
}

#title {
	font-family:'lucida grande',tahoma,arial,sans-serif;
	height: 32px;
	font-size: 18px;
	padding-left: 90px;
	padding-top: 5px;
	color: #cccccc;
    font-weight: normal;
}

#log {
	font-family: monospace;
}

p {
	padding: 5px;
}

#notLoggedLinks, #loggedLinks {
    position: absolute;
    top: 15px;
    right: 12px;
}

#notLoggedLinks a, #loggedLinks a {
    color: #b5cfe5;
}

.bboxAdd {
  background-image: url(../img/silk/pencil_add.png) !important;
}

.bboxDel {
  background-image: url(../img/silk/pencil_delete.png) !important;
}

.mapNav {
  background-image: url(../img/geosilk/pan.png) !important;
}

.mapBig {
  background-image: url(../img/silk/wand.png) !important;
}

img.icon-dataplot {
    width: 16px;
    height: 16px;
    background: url(../img/silk/chart_bar.png) no-repeat;
}

img.icon-download {
    width: 16px;
    height: 16px;
    background: url(../img/silk/bullet_go.png) no-repeat;
}

img.icon-delete {
    width: 16px;
    height: 16px;
    background: url(../img/silk/cross.png) no-repeat;
}

.x-form-item {
    margin-bottom: 0;
}

.info {
    position: absolute;
	bottom: 0;
    right: 0;
    margin: 5px;
    z-index: 1000;
    overflow: auto;
}

.info .content .attribute {
    border-bottom: 1px solid #888888;
    color: #555555;
}

.info .content .attribute .name {
	font-size: 10px;
    font-weight: bold;
    background-color: #eeeeee;
    padding: 3px;
}

.info .content .attribute .value {
	font-size: 10px;
    padding: 3px;
}