#header img{
	float: left;
	padding: 3px;
	padding-left: 15px;
}

#title {
	height: 64px;
	font-size: 40px;
	font-family: verdana;
	padding-left: 320px;
	padding-top: 12px;
}

#log {
	font-family: monospace;
}

p {
	padding: 5px;
}

#notLoggedLinks, #loggedLinks {
    position: absolute;
    top: 35px;
    right: 12px;
}

.bboxAdd {
  background-image: url(../img/silk/pencil_add.png) !important;
}

.bboxDel {
  background-image: url(../img/silk/pencil_delete.png) !important;
}

.mapNav {
  background-image: url(../img/geosilk/pan.png) !important;
}

.mapBig {
  background-image: url(../img/silk/wand.png) !important;
}

img.icon-download {
    width: 16px;
    height: 16px;
    background: url(../img/silk/bullet_go.png) no-repeat;
}

img.icon-delete {
    width: 16px;
    height: 16px;
    background: url(../img/silk/cross.png) no-repeat;
}